.note-container {
  width: 100%;
  color: #000b90;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;

  .note-head {
    font-weight: 500;
    display: flex;
    justify-content: space-between;

    .note-title {
      font-size: 15px;
    }
    .note-date {
      font-size: 14px;
      opacity: 0.5;
      font-weight: 500;
    }
  }
  .note-body {
    margin: 5px 0;
    font-size: 13px;
  }
  .note-priority {
    font-size: 14px;
    opacity: 0.5;
    font-weight: 500;
  }
  .note-footer {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
