.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .nav-btn-text {
    font-size: 27px;
    color: #000b90;
    font-weight: 400;
    justify-content: baseline;
  }
}
