.auth-btn {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background: transparent linear-gradient(105deg, #ed3107bf 0%, #4c24ff 100%) 0%
    0% no-repeat padding-box;
  justify-content: center;
  display: flex;
  color: #fff;
  align-items: center;
  font-size: 21px;
  margin-top: 30px;
  font-weight: 600;
}
