.user-home-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  height: 100%;
  .user-home-blur {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(2rem);
    padding: 20px;
  }
}
