.user-home-container {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  height: inherit;

  .user-home-blur {
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(2rem);
    padding: 20px;
  }
}
