.sort-container {
  text-align: right;
  margin-top: 8px;
  select {
    background-color: transparent;
    border: none;
    color: rgba(116, 116, 116, 0.733);
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
  }
}
